#gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

#gallery img{
  width: 300px;
  border: 1px solid #fff;
}

.item{
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 5px;
}
a{
  text-decoration: none;
  color: #d62828;
  margin-top: 5px;
  text-align: right;
}
.name{
  font-size: 20px;
  font-weight: bolder;
}

.description, .price{
  font-size: 15px;
}

.actions{
  display: flex;
  justify-content: space-around;
}
